body {
  margin: 0;
  font-family: "courier new", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

html {
  display: flex;
  justify-content: center;
  align-items: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

canvas {
  min-height: 100%;
}
.homeContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.9; 
  min-height: 100vh;
 
}

.projectsContainer {
 
  opacity: 0.9; 
  min-height: 100vh;
 
 
}

.mainLinks {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background: rgba(0, 0, 0, 0);
}

.leftText {
  text-align: left;

}

.end {
  justify-content: flex-end;
  align-items: flex-end;
}

.bold {
  font-weight: bolder;
}

.close {
  padding: 2px;
  margin: 2px;
}

.grey {
  color: grey;
}
