@import url("https://fonts.googleapis.com/css?family=Seymour+One&display=swap");

body {
  margin: 0;
  font-family: 'Seymour One', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background:white;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.75em;
  
}

html {
  display: flex;
  justify-content: center;
  align-items: center;
}




::-webkit-scrollbar {
  display: none;
  }