.navItems {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0px;
}

h2 {
    margin: 0px;
}

.nav {
    position: sticky;
    top: 5%;
    left: 90%;
    z-index: 1;
}

.navText {
    background-color: #565656;
    color: transparent;
    text-shadow: 5px 5px 8px rgba(255, 255, 255, 0.7);
    font-size: 120%;
    background-clip: text;
}